asttokens==2.4.1
beautifulsoup4==4.14.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
comm==0.2.1
curl_cffi==0.13.0
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
frozendict==2.4.7
idna==3.11
ipykernel==6.29.2
ipython==8.21.0
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
matplotlib-inline==0.1.6
multitasking==0.0.12
nest-asyncio==1.6.0
newsapi-python==0.2.7
numpy==2.4.2
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pandas==3.0.1
parso==0.8.3
peewee==3.19.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
protobuf==6.33.5
psutil==5.9.8
psycopg2-binary==2.9.11
pure-eval==0.2.2
pycparser==3.0
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.2.1
pytz==2025.2
pywin32==306
pyzmq==25.1.2
requests==2.32.5
six==1.16.0
soupsieve==2.8.3
stack-data==0.6.3
tornado==6.4
traitlets==5.14.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
vader-sentiment==3.2.1.1
vaderSentiment==3.3.2
wcwidth==0.2.13
websockets==16.0
yfinance==1.2.0
